body {
    background-color: rgb(255, 255, 255);
    height: 15px;
    width: 95%;
    margin: auto;
    padding: 1px;

  }
  
  h2 {
    text-align: left;
    font-family: verdana;
  }
  
  p1 {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
  }

  footer {
    text-align-last: center;

  }

   

